<!DOCTYPE html>
<html>
<head>
    <title>Эксперименты с EJS #BlondieCode!</title>
    <meta charset="utf-8">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <h1>История событий</h1>
        <%- include('historyBlockIf') %>
        <%# include('historyBlockFull') %>
    </main>
    <%- include('footer') %>
</body>
</html>